.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 18px 20px 25px 20px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    height: 430px;
    background: #f2f2f2;
    padding: 0 37px 0 39px;
    max-width: 324px;
  }

  @media (min-width: @desktop-width) {
    height: 431px;
    max-width: 245px;
  }
}

.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 14px;
  max-width: 99px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-right: 4px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 3px;
    padding-right: 0;
  }
}

.card__table {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  min-width: 140px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.card__image {
  width: 140px;
  justify-content: center;
  display: flex;
  position: relative;
}

.card__image-500 {
  position: absolute;
  left: 36px;
  top: 14px;

  @media (min-width: @tablet-width) {
    left: 43px;
    top: -45px;
  }

  @media (min-width: @desktop-width) {
    left: 4px;
    top: -52px;
  }
}

.card__image-500--micro {
  @media (max-width: @mobile-width-only) {
    top: 28px;
    left: 36px;
  }
}

.card__image-1000 {
  position: absolute;
  left: 28px;
  top: 11px;

  @media (min-width: @tablet-width) {
    left: 39px;
    top: -73px;
  }

  @media (min-width: @desktop-width) {
    left: 0;
    top: -80px;
  }
}

.card__table-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
    min-width: 246px;
    padding-bottom: 9px;
    padding-top: 7px;
  }

  @media (min-width: @desktop-width) {
    min-width: 165px;
  }
}

.card__detail {
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    text-align: end;
    width: 60px;
  }
}

.card__term {
  padding: 0;
}

.card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  width: 161px;
  position: absolute;
  top: 187px;
  left: 58px;

  @media (min-width: @tablet-width) {
    top: 71px;
    left: 422px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    top: 185px;
    left: 41px;
    text-align: center;
  }
}

.card__text {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 161px;
  }
}

.card__order {
  @media (max-width: @mobile-width-only) {
    flex: auto;
    margin-top: 19px;
    font-size: 16px;
  }

  @media (min-width: @tablet-width) {
    padding: 10px 93px;
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }
}

.card__order.button--primary {
  font-size: 16px;
}
