.card-more__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 165px;
  }
}

.card-more__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 165px;
    margin-bottom: 87px;
  }
}

.card-more__button {
  color: #444444;
  background-color: #F2F2F2;
  padding: 10px 0;
  width: 100%;
}

.card-more__plus {
  display: inline-block;
    width: 30px;
    height: 30px;
    background: linear-gradient(#D3D3D3, #D3D3D3), linear-gradient(#D3D3D3, #D3D3D3);
    background-position: center;
    background-size: 100% 2px,2px 100%;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 60px;
      height: 60px;
      margin-bottom: 49px;
    }
}

.card-more {
  text-align: center;
  border-bottom: 1px solid #D9D9D9;
}

.card-more__wrapper {
  padding: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
